.Markdown {
  font-family: "IBM Plex Sans", sans-serif;
  color: white;
}

.Markdown h1,
.Markdown h2,
.Markdown h3,
.Markdown h4,
.Markdown h5,
.Markdown strong,
.Markdown p,
.Markdown code {
  color: white;
}
.Markdown a {
  color: #08ff04;
}
