@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scroll smooth
----------------------------------------------------------------------------- */
Html {
  scroll-behavior: smooth;
}

/* Border color
----------------------------------------------------------------------------- */
.border-color {
  --angle: 0deg;
  border: 0.5vmin solid;
  border-radius: 25px;
  border-image: conic-gradient(
      from var(--angle),
      red,
      yellow,
      lime,
      aqua,
      blue,
      magenta,
      red
    )
    1;

  animation: 3s rotate linear infinite;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
